
/* Main style for the lose screen */
.root {
    -fx-font-family: "Press Start 2P";
}

/* Background style for the lose screen */
#loseScreenRoot {
    -fx-background-color: #FFFFFF;
    -fx-background-image: url("/images/night_popup.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;
}

/* Style for YOU LOSE text */
.lose-text {
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-font-family: 'Press Start 2P';
}

/* Style for buttons */
.game-button {
    -fx-background-color: transparent;
    -fx-text-fill: #A0B1C9;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-font-family: 'Press Start 2P';
    -fx-padding: 10px 20px;
}



.game-button:hover {
    -fx-text-fill: #FFFFFF;
}}